<mj-section>
<mj-column>
<mj-text font-size="20px" font-family="helvetica">

<p>
  Caro <%= @user.full_name %>,
  </p>
       <p>ti comunichiamo che da oggi e sino al giorno <%= l RunnersBikers::MAX_TIME_FOR_START_CHALLENGES.to_date, format: :long %>
       è possibile lanciare una sfida verso un concorrente che ha una posizione adiacente alla tua in graduatoria ( +/- 3 posizioni).
  </p>
<p>
  Per lanciare la sfida puoi collegarti al sito del torneo <a href="https://challenge.runnersbikers.it">challenge.runnersbikers.it</a>
      ed andare nel menù della classifica
      per scegliere un concorrente da sfidare, ammesso che tu abbia voglia di sfidare qualche altro concorrente.
      </p>
  <p>
  Ricordiamo che avrai a disposizione 5 giorni dal lancio della sfida per realizzare la
tua sessione sportiva, pertanto ti consigliamo di pianificare e lanciare la sfida nel momento che ritieni opportuno.
  </p>
  <p>
   In bocca al lupo per le tue sfide, e mi raccomando l’importante non è vincere, ma allenarsi.
  </p>

                                                                                                                                                                                              </mj-text>
  </mj-column>
</mj-section>
