<mj-section>
  <mj-column>

    <mj-text font-size="20px" font-family="helvetica">
      Caro <%= @match.send(@destinatario).full_name %>,<br></br>
      <p>TI confermiamo di avere registrato entrambe le sessioni nella sfida <%= @match.challenger.full_name %> vs <%= @match.challenged.full_name %>. </p>

      <p>In queste ore gli arbitri valideranno le sessioni e determineranno i vincitori, riceverai una email non appena tutte le verifiche saranno completate.</p>

      <p>Grazie per l’entusiasmo che dimostri partecipando al torneo,</p>

    </mj-text>


  </mj-column>
</mj-section>




